<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="icon" href="../images/maxxton-logo.jpg" type="image/gif" sizes="16x16">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="../css/index.css"/>
<script type="text/javascript" src="../js/index.js"></script>
<body>
    <div class="main-container">
        <header>
          <!--  Remove dark nav  -->
          <nav class="nav dark-nav">
            <div class="container-1 p-t-10">
                <div class="left-block d-in m-t-10">
                    <span class="b-r-white contact-us p-r-10 m-l-10"><i class="zmdi zmdi-email"></i> Contact us</span>
                    <span class="b-r-white login"><i class="zmdi zmdi-account"></i> Login</span>
                    <div class="w-40 search-toggle search-button d-in p-0">
                        <input type="text" placeholder="Search &amp; Book" class="d-in search w-10"><span class="d-in"><i class="zmdi zmdi-search search-box"></i></span>
                    </div>
                </div>
                <div class="f-r right-block d-in m-r-10">
                    <span class="b-r-white"><i class="zmdi zmdi-facebook"></i></span>
                    <span class="b-r-white"><i class="zmdi zmdi-pinterest"></i></span>
                    <span class="b-r-white"><i class="zmdi zmdi-twitter"></i></span>
                    <span class="b-r-white"><i class="zmdi zmdi-google-plus"></i></span>
                    <span class="b-r-white"><i class="zmdi zmdi-youtube"></i></span>

                </div>
            </div>
            <div class="container-2">
                <div class="left-block">
                  <div class="nav-heading">
                      <button class="toggle-nav" data-toggle="open-navbar1">
                        <i class="fa fa-align-right"></i>
                      </button>
                    <a class="brand" href="#"><img alt="maxxton-logo" src="https://dummyimage.com/180X34&text=maxxton-Logo"/></a>
                  </div>
                </div>
                <div class="right-block">
                    <div class="menu" id="open-navbar1">
                        <ul class="list m-t-0">
                          <li><a href="#">Vacation Rentals</a></li>
                          <li class="categories"><a href="#" id="open-categories" data-dropdown="target" href="#">Area Fun <i class="fa fa-caret-down"></i></a>
                            <ul class="drop-down" id="target">
                              <li><a href="#">Actions</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="sub-drop-down"><a href="#">Another dropdown menu</a>
                                <ul class="sub-dropdown">
                                  <li><a href="#">Vacation Rentals </a></li>
                                  <li><a href="#">Area Fun</a></li>
                                  <li><a href="#">Guest Service</a></li>
                                  <li class="speprator"></li>
                                  <li><a href="#">Property Management</a></li>
                                </ul>
                              </li>
                              <li class="seprator"></li>
                              <li><a href="#">Seprated link</a></li>
                              <li class="seprator"></li>
                              <li><a href="#">One more seprated link.</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Guest Service</a></li>
                          <li><a href="#">Property Management</a></li>
                          <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                    <div class="b-r-white phone-number m-t-15 f-r"><i class="zmdi zmdi-phone"></i> (866)544-3223</div>
                </div>
            </div>
          </nav>
        </header>
        <section class="section-one">
            <div class="maxxton-hero-image"></div>
        </section>
        <section class="section-two">
            <div class="header-section-two w-80">
                <div class="top-banner">
                    <div class="wrap-div">
                        <div class="calendar-from d-in">
                            <input type="text" placeholder="Arrival Date" class="d-in w-10"><span class="d-in"><i class="zmdi zmdi-calendar calendar-one-box"></i></span>
                        </div>
                        <div class="calendar-to d-in">
                            <input type="text" placeholder="Departure Date" class="d-in w-10"><span class="d-in"><i class="zmdi zmdi-calendar calendar-two-box"></i></span>
                        </div>
                        <div class="calendar-to d-in">
                            <input type="text" placeholder="Bedrooms" class="d-in w-10"><span class="d-in"><i class="zmdi zmdi-calendar calendar-two-box"></i></span>
                        </div>
                        <div class="calendar-to d-in">
                            <input type="text" placeholder="All categories"  class="d-in w-10"><span class="d-in"><i class="zmdi zmdi-calendar calendar-two-box"></i></span>
                        </div>
                        <div class="search-nav search-button d-in">
                            <input type="text" placeholder="Search & Book" class="d-in search w-10"><span class="d-in"><i class="zmdi zmdi-search search-box"></i></span>
                        </div>
                    </div>
                </div>
                <div class="featured-vacation">
                    <h2> Featured Vacational Rentals</h2>
                </div>
                <div class="cards">
                    <div class="flex-height tropea p-10">
                        <div class="p-relative"><img src="../images/section3-block-2.jpg" alt="block-1" /><div class="text-align-image"><h1>Tropea</h1></br>5 Bedrooms</br>3 Bathrooms</div></div>
                        <div class="section-one">
                            <div class="w-50 price f-l d-in p-t-20 text-center"> $350 Per night</div>
                            <div class="w-50 view f-l d-in ">
                                <p class="f-20 m-t-10">
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                </p>
                                <p><button class="view-details">View Details</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="flex-height brunswick p-10">
                        <div class="p-relative">
                            <img src="../images/block-2.jpg" alt="block-2" />
                            <div class="text-align-image"><h1>Tropea</h1></br>5 Bedrooms</br>3 Bathrooms
                            </div>
                        </div>
                        <div class="section-two">
                            <div class="w-50 price f-l d-in p-t-20 text-center"> $350 Per night</div>
                             <div class="w-50 view f-l d-in ">
                                 <p class="f-20 m-t-10">
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                    <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                 </p>
                                 <p>
                                    <button class="view-details">View Details</button></p>
                             </div>
                        </div>
                    </div>
                    <div class="flex-height tropea-two p-10">
                        <div class="p-relative">
                            <img src="../images/block-3.jpg" alt="block-3" />
                            <div class="text-align-image"><h1>Tropea</h1></br>5 Bedrooms</br>3 Bathrooms
                            </div>
                        </div>
                        <div class="section-three">
                            <div class="w-50 price f-l d-in p-t-20 text-center"> $350 Per night</div>
                            <div class="w-50 view f-l d-in ">
                                <p class="f-20 m-t-10">
                                   <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                   <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                   <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                   <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                   <i id="hover-effect-stars" class="hover-effect-stars zmdi zmdi-star"></i>
                                </p>
                                <p><button class="view-details">View Details</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-section-three">
                    <h1 class="m-t-50"> Featured Resort</h1>
                    <div class="w-50 d-in">
                        <p class="p-relative p-r-10 d-flex">
                            <img src="../images/block-3.jpg" alt="block-3" />
                            <span class="read-more-para p-10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis odio sagittis, tempus risus eget, tempus elit. Phasellus nisl dui, ultrices eget sapien quis, molestie fringilla ex. Ut feugiat porta blandit. Cras ac leo lacus. Cras non est ut tortor placerat lobortis sit amet et urna. Sed eu finibus eros. Suspendisse commodo elit eros, sit amet cursus orci varius et.
                            </span>
                            <span class="read-more c-orange"> read-more</span>
                        </p>
                    </div>
                    <div class="w-50 d-in f-l">
                        <p class="p-relative p-r-10 d-flex">
                            <img src="../images/block-3.jpg" alt="block-3" />
                            <span class="read-more-para p-10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis odio sagittis, tempus risus eget, tempus elit. Phasellus nisl dui, ultrices eget sapien quis, molestie fringilla ex. Ut feugiat porta blandit. Cras ac leo lacus. Cras non est ut tortor placerat lobortis sit amet et urna. Sed eu finibus eros. Suspendisse commodo elit eros, sit amet cursus orci varius et.
                            </span>
                            <a class="read-more c-orange"> read-more</a>
                        </p>
                    </div>
                </div>
                <div class="header-section-four">
                    <h1 class="m-t-50"> Featured Orland Vacation Fun</h1>
                    <div class="d-in">
                       <h3>The magic kingdom is here Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    </div>
                    <div class="custom-carousel p-relative ">
                        <div class="carousel-nav clearfix">
                            <i class="p-absolute zmdi zmdi-chevron-left c-orange f-50" id="prv-image" alt="previous-image"></i>
                            <i class="p-absolute zmdi zmdi-chevron-right c-orange f-50" id="nxt-image" alt="next-image"></i>
                        </div>
                        <div id="carousel-wrap">
                          <ul id="images" class="clearfix">
                            <li>
                              <p class="context"> <img src="../images/block-3.jpg" alt="block-1" /></p>

                            </li>
                            <li>
                              <p class="context"> <img src="../images/block-3.jpg" alt="block-2" /></p>

                            </li>
                            <li>
                              <p class="context"> <img src="../images/block-3.jpg" alt="block-3" /></p>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-third p-relative">
            <div class="maxxton-hero-image"></div>
            <div class="inside-image-container container w-80 m-auto">
                <div class="w-30 f-20 f-bold d-in ">Sign up for insider deals</div>
                <div class="common-input w-30 d-in"><input type="text" placeholder="enter Email Address"></div>
                <div class="w-30 d-in"><button class="w-100 c-white p-10 b-r-orange" type="submit">Submit</button></div>
            </div>
        </section>
        <section class="section-four p-relative">
            <div class="text-center w-80 m-auto p-50">
                <div class="d-in w-30">
                    <span><h3>Check Out Our special</h3></span>
                    <span><i class="text-center f-50 c-orange  zmdi zmdi-calendar"></i></span>
                </div>
                <div class="d-in w-30">
                    <span><h3>Real Home Estate</h3></span>
                    <span><i class="text-center f-50 c-orange  zmdi zmdi-home"></i></span>
                </div>
                <div class="d-in w-30">
                    <span><h3>Property Management</h3></span>
                    <span><i class="f-50 text-center c-orange zmdi zmdi-router"></i></i></span>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-bottom b-c-grey p-50 d-flex">
                <div class="w-50 d-in f-l">
                    <ul class="d-in">
                        <li>Driving Directions</li>
                        <li>Contact Us</li>
                        <li>About Us</li>
                    </ul>
                    <ul class="d-in">
                        <li>FAQ's</li>
                        <li>Site Map</li>
                        <li>Terms & Conditions</li>
                    </ul>
                    <ul class="d-in">
                        <li>Owner Login</li>
                        <li>Property Management</li>
                        <li>Local Real Estate</li>
                    </ul>
                </div>
                <div class="w-50 d-in f-l">
                    <div class="d-in">
                        <img src="http://via.placeholder.com/200X200">
                    </div>
                    <div class="d-in">
                        <img src="http://via.placeholder.com/200X200">
                    </div>
                    <div class="d-in">
                        <img src="http://via.placeholder.com/200X200">
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- To scroll on top -->
    <label for="scroll" title="scroll Me" class="scroll-top toggle">
        <i class="zmdi zmdi-chevron-up c-orange f-30" id="prv-image" alt="previous-image"></i>
    </label>
</body>
</html>
